
.cart{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color:  rgb(230, 82, 82);
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    position: absolute;
    right: 5px;
    top: 20%;
}
.cart-wide{
    width: 22px;
    right: 0px;

}

@include responsive("md"){
    // .cart{
    //     left: 10px;

    //     bottom: 10%;
    //     top: unset;
    //     right: unset;

    // }
    // .cart-wide{
    //     width: 22px;
    //     left: 10px;
    //     bottom: 10%;

    //     top: unset;
    //     right: unset;
    // }

}  